
.product-line {
  margin-top: 100px;
}

.product-details {
  margin-top: 100px;
  text-align: center;
  background-color: lightgray;
}

.card-body {
  text-align: center;
}

.img-ctr {
  text-align: center;
}

/* CAROUSEL */

#img-1 {
  background-image: url("../img/header.jpg");
}

#img-2 {
  background-image: url("../img/img-2.jpeg");
}

#img-3 {
  background-image: url("../img/img-3.jpeg");
}

/* ABOUT */
#team {
  text-align: center;
}